{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">显示导航</button>
            </p>

            <div class="row">
		<h2>一、简介</h2>
		<p>三国版杀是一款多人在线策略游戏。参加人数24人，时间5~7天。在此期间，你将依次扮演2~3位三国历史上的名将，东征西讨，合纵连横，带领你的阵营走向胜利。</p>
		<h2>二、游戏名词介绍</h2>
		<p><strong>天庭</strong></p>
		<p>游戏的控制者，游戏过程中拥有无上的权威，如果天庭出现失误可以秋后算账，不得当场质疑。天庭人员通常有四位：裁判，不参与游戏，只负责监督、指导天庭其他人员；北斗，负责游戏进程控制、夜间和白天的结算和反馈；南斗，负责夜间和白天的公告和官方复盘；杂役，在北斗或南斗繁忙时负责暂代其履行职责。</p>
		<p><strong>游戏id</strong></p>
		<p>一旦报名参加游戏，你将被随机分配一个游戏中用到的名字取代平时的昵称，作用类似于马甲，称为游戏id，规则中简称id。</p>
		<p><strong>角色</strong></p>
		<p>除了分配id之外，你还会被随机分配游戏中将要扮演的一系列三国时期的武将名，均称为角色名，如曹操-(曹丕/曹植)。游戏刚开始时，你将扮演这一系列角色中的第一个，死亡后可以转世成为下一个角色，曹丕/曹植表示你可以在曹丕和曹植中选择一个扮演，最后一个角色死亡后将退出游戏。</p>
		<p><strong>阵营</strong></p>
		<p>游戏中一共有三个互相制衡的势力，称为阵营，分别为魏、蜀、吴。大部分角色初始便确定了阵营，如曹操-(曹丕/曹植)就是魏国的。没有确定阵营的角色如吕布-孟获称为在野角色，在野是无法取得胜利的，你应当在游戏结束前加入某个阵营。</p>
		<p><strong>身份</strong></p>
		<p>每名角色在自己的阵营中起到的作用是不同的，这种作用的不同我们用身份来界定，初始有6种身份，分别为君主、正军师、副军师、杀手（共两名）、护卫、女眷。在野的角色开始没有身份，加入阵营之后获得平民的身份。</p>
		<p><strong>评价</strong></p>
		<p>为了描述角色的特点，给每个角色设定了各自的评价，得知对方评价可以推测对方角色。</p>
		<h2>三、游戏流程</h2>
		<p>一次游戏从开始到结束共分为以下4个时期：发起期（确定游戏名称和规则）、筹备期（天庭的报名和挑选、玩家的报名和挑选）、进行期、复盘期（游戏结束后的讨论）。进行期的时间跟现实时间基本同步，从当天晚上到次日白天为一个周期，从第一天晚上开始，依次进行第二天白天、第二天晚上、第三天白天……等等。在游戏快结束时，北斗可以视情况加快游戏进程，此时将与现实时间不同步，称为快进期。每一个周期又分为6个阶段：夜间行动阶段、夜间结算反馈阶段、夜间公告阶段、白天行动投票阶段、白天结算反馈阶段、白天公告阶段。</p>
		<h3>夜间行动阶段</h3>
		<p><strong>行动</strong></p>
		<p>主要指夜间行动，也有部分角色也可以白天行动。包括6种：指认（分为结识指认和评价指认）、使用技能、刺杀、自杀、指令。</p>
		<p><strong>指认</strong></p>
		<p>游戏刚开始时，除了同一阵营的两个杀手和一些特殊角色外，其他玩家都不知道各个角色名对应的id，猜测某一角色名对应的id的过程称为结识指认，获取某一id对应的角色的某项评价的过程称为评价指认。为了团队作战，要积极指认同一阵营的角色，为了确认对手，要积极指认其他阵营的角色。每个角色有各自可以指认的其他角色和评价，不能任意指认。如果指认成功称为知道对方玩家。如果扮演同一阵营角色的两个玩家互相知道对方，称为二人互相认识，简称互识。互识的玩家可以自由交流，共享知道的玩家和互识的玩家。</p>
		<p><strong>技能</strong></p>
		<p>每个角色都有其特有的技能。根据是否需要主动发动，分为主动技能和被动技能。通常一个角色一个阶段只能使用一个主动技能。根据技能属性，分为指认技能、投票技能、武将伤害技能、武将保护技能、军师增益技能、军师负面技能、无属性技能、全局技能。</p>
		<p><strong>刺杀</strong></p>
		<p>夜间行动阶段，同一个阵营的两个杀手中的一个，可以指定一个id进行一次刺杀，刺杀可以使其角色死亡。刺杀到同一阵营的或同盟阵营的角色，一半概率使其死亡，一半概率使其受伤。</p>
		<p><strong>自杀</strong></p>
		<p>夜间行动阶段，在提交行动之前，玩家可以使当前角色自杀，当晚即可转世扮演下一个角色。</p>
		<p><strong>指令</strong></p>
		<p>包括军师命令杀手、命令吕布、在野申请入国。</p>
		<p><strong>结算</strong></p>
		<p>优先级相近且互相不冲突的行动会同时结算。如a刺杀b同时b刺杀a，则结算时两人均死亡。</p>
		<p><strong>反馈</strong></p>
		<p>告诉你死亡，互识，指认反馈等。</p>
		<p><strong>遗言</strong></p>
		<p>非正常死亡可以留遗言。</p>
		<p><strong>公告</strong></p>
		<p>战况总结和遗言。</p>
		<h3>投票阶段</h3>
		<p>票最多的死，平票都伤。</p>
技能默认不可被继承。默认只能使用或触发一次。指认默认每夜都可进行。指认型被动技能可以每天指认，但只能触发一次，消耗无反馈。
技能作用分为几个阶段：发动、触发、生效、
被动技能自动发动，无法阻止，有条件触发，如果触发就生效，如果不触发就回收，指认型被动技能有发动阶段，就是指认，还有触发阶段，其他相同。可选型被动技能触发之后可以选择是否生效。
使其无效：就是抵御。无法再用，也算是禁魔的一种吧。
使其发动失败：就是禁魔。可以再用
		<h2>三、角色介绍</h2>
		<h3>曹操-曹丕</h3>
		<p><strong>曹操</strong></p>
		<p>君主。</p>
		<p>结识指认：2个ID指认郭嘉/荀彧，夏侯惇/曹仁。</p>
		<p>割发代首：[被动技能][投票技能]：得票最高时触发：投票作废。</p>
		<p>割须弃袍：[被动技能][武将保护技能]：1.受到武将杀伤技能作用时触发：伤害减轻（即被刺杀将受伤，被致伤将无效）。2.受到【复仇之焰】作用时触发：使其无效。</p>
		<p>亲冒矢石：[主动技能][武将杀伤技能][继承给曹丕]：指定1个ID，若对方不是猛将，则使其受伤。</p>
		<p>评价：智者、统帅、文豪、能吏</p>
		<p><strong>曹丕</strong></p>
		<p>曹操的继承者。</p>
		<p>结识指认：1个ID指认郭嘉/荀彧。</p>
		<p>评价指认：1个ID指认雅士/文豪。</p>
		<p>代汉自立：[主动技能][全局技能]：当夜指定自己的武将杀伤技能与军师负面技能成功率减半。</p>
		<p>汉祚终焉：[指认型被动技能][全局技能]：指定1个ID（不可重复指认），对方是刘禅时触发：次夜蜀国全体混乱，指认、技能、刺杀成功率减半。</p>
		<p>评价：统帅、文豪</p>
		<h3>郭嘉-荀彧</h3>
		<p><strong>郭嘉</strong></p>
		<p>军师。出场即知道曹操。第三夜结算时自然死亡，之前所有指认结果与本国君主共享。</p>
		<p>结识指认：2个ID指认典韦/许褚。</p>
		<p>天妒英才：[主动技能][指认技能][不限次数]：第二夜开始可用，指定1个ID，得知其阵营。</p>
		<p>洞若观火：[主动技能][指认技能]：指定1个ID，得知其身份。</p>
		<p>料事如神：[指认型被动技能][指认技能]：和曹操互识以后可用，指定1个ID，对方是孙策时触发：使其下一夜开始时离开游戏。</p>
		<p>评价：智者、雅士</p>
		<p><strong>荀彧</strong></p>
		<p>郭嘉的继承者。出场即知道本国君主。</p>
		<p>结识指认：1个ID指认本国人。</p>
		<p>评价指认：1个ID指认全评价，智者优先。</p>
		<p>留侯再世：[被动技能][军师增益技能]：本国君主受到军师负面技能作用时触发：使其无效。</p>
		<p>奇计百出：[被动技能][军师增益技能]：评价指认指认出2个智者后可用，随机获得这些角色当前最多可以具有的非针对具体角色的主动技能中的一项。</p>
		<p>驱虎吞狼：[主动技能][军师增益技能]：强制修改某国杀手的刺杀ID，若该ID与该杀手不是同一国人，则刺杀可以发动，若为一国人，则驱虎吞狼消耗且无法起到效果。该国杀手不能得到ID被修改的反馈。</p>
		<p>严阵以待：[指认型被动技能][指认技能]：指定1个ID，对方是张飞时触发：使其受伤。</p>
		<p>评价：智者、仁者、雅士、能吏</p>
		<h3>夏侯惇-曹仁</h3>
		<p><strong>夏侯惇</strong></p>
		<p>杀手。</p>
		<p>结识指认：1个ID指认本国君主，郭嘉/荀彧。</p>
		<p>拔矢啖睛：[被动技能][武将保护技能]：被刺杀时触发：不会死亡只会受伤，但从此失去指认能力。</p>
		<p>曹氏宗亲：[被动技能][指认技能][继承给曹仁]：指认出曹操时触发：与其互相认识。</p>
		<p>评价：猛将、能吏</p>
		<p><strong>曹仁</strong></p>
		<p>夏侯惇的继承者。</p>
		<p>结识指认：1个ID指认本国君主，郭嘉/荀彧。</p>
		<p>南郡破敌：[指认型被动技能][指认技能]：指定1个ID，对方是周瑜/鲁肃时触发：使其受伤。</p>
		<p>八门金锁：[主动技能][全局技能]：当夜指定魏国人的行动成功率减半。</p>
		<p>评价：猛将、统帅</p>
		<h3>典韦-许褚</h3>
		<p><strong>典韦</strong></p>
		<p>护卫。</p>
		<p>结识指认：2个ID指认本国君主，郭嘉/荀彧。</p>
		<p>评价指认：1个ID指认猛将。</p>
		<p>挺身护驾：[可选型被动技能][武将保护技能][继承给许褚]：本国君主受到武将杀伤技能作用时触发：可以选择发动：本国君主不受作用，自己受伤。</p>
		<p>宛城血战：[主动技能][武将保护技能][继承给许褚]：指定1个ID，对方受到刺杀时生效：对方不受作用，刺杀者和自己受伤。</p>
		<p>评价：猛将、义士</p>
		<p><strong>许褚</strong></p>
		<p>典韦的继承者。</p>
		<p>结识指认：1个ID指认本国君主。</p>
		<p>裸战马超：[指认型被动技能][指认技能]：结识指认的ID是马超时触发：使其受伤。</p>
		<p>虎痴喋血：[主动技能][武将杀伤技能]：指定1个ID，若对方不是猛将，则视为刺杀对方，若对方是猛将，则自己受伤。</p>
		<p>评价：猛将、义士</p>

		<h3>刘备-刘禅</h3>
		<p><strong>刘备</strong></p>
		<p>君主。</p>
		<p>结识指认：2个ID指认徐庶/马良/诸葛亮、张飞。</p>
		<p>桃园结义：[指认型被动技能][指认技能]：指认出张飞时触发：与其互识。</p>
		<p>三顾茅庐：[指认型被动技能][指认技能]：指认出诸葛亮时触发：与其互识。</p>
		<p>痛哭流涕：[被动技能][投票技能]：得票最高时触发：投票作废。</p>
		<p>马跃檀溪：[被动技能][武将保护技能]：受到武将杀伤技能作用时触发：使其无效。</p>
		<p>乱世枭雄：[主动技能][武将杀伤技能]：指定1个ID，若对方不是猛将，使其受伤。</p>
		<p>五虎封将：[主动技能][全局技能]：诸葛亮出场后可用，若蜀国有杀手或护卫，则本国军师知道五虎将，当夜非本国人指定蜀国人的行动成功率减半。</p>
		<p>评价：统帅、义士、仁者</p>
		<p><strong>刘禅</strong></p>
		<p>刘备的继承者。</p>
		<p>结识指认：1个ID指认赵云、马超，指认出之后与其互识。1个ID指认马良。</p>
		<p>乐不思蜀：[主动技能][无属性技能]：当夜指定自己所有的刺杀无效，自己次日白天的投票无效。</p>
		<p>评价：仁者</p>
		<h3>徐庶-马良-诸葛亮</h3>
		<p><strong>徐庶</strong></p>
		<p>军师。第二夜结算时自然死亡。</p>
		<p>结识指认：2个ID指认刘备、赵云。</p>
		<p>评价指认：1个ID指认智者。</p>
		<p>击剑长歌：[主动技能][军师负面技能]：指定1个ID，使其受伤。</p>
		<p>玄门破阵：[被动技能][军师增益技能][继承给马良]：受到军师负面技能作用时触发：使其无效。</p>
		<p>评价：智者、义士</p>
		<p><strong>马良</strong></p>
		<p>徐庶的继承者。继任二日后自然死亡。</p>
		<p>结识指认：1个ID指认赵云/魏延，刘备/刘禅。</p>
		<p>评价指认：1个ID指认智者。</p>
		<p>五溪归蜀：[主动技能][军师增益技能][继承给诸葛亮]：指定1个ID，马良/诸葛亮可以选择当夜将该ID视为蜀国国籍或者平民，使其受一切可以影响平民或蜀国国籍的技能影响（包括运筹帷幄、威震西凉等）。当修改为蜀国国籍时，不影响计算灭国人数、军师、无附带技能的刺杀。当与苦肉诈降指定了同一人且均修改的是国籍时，则拼点决定谁有效，无效的一方可以下次重新发动。</p>
		<p>五常之最：[主动技能][武将保护技能]：指定1个ID，若对方不是君主，且对方受到武将杀伤性技能或军事负面性技能作用，则使其无效。</p>
		<p>评价：智者、雅士、能吏</p>
		<p><strong>诸葛亮</strong></p>
		<p>马良的继承者。出场即与刘禅互识。每夜指定1个ID用以触发七星续命。</p>
		<p>结识指认：1个ID指认魏延。</p>
		<p>空城绝唱：[被动技能][投票技能]，只能使用一次。第一次得票最高时，所得票数全部转嫁给当日得票数最高的非蜀国人。</p>
		<p>出师表：[主动技能][军师增益技能]，只能使用一次。可以指定任意一个ID，若其当夜发动主动技能，则此技能被诸葛亮学会，以后可以由诸葛亮使用一次。若其当夜发动刺杀，则诸葛亮将拥有一次发动刺杀的机会。若其既发动技能又发动刺杀，则诸葛亮学会一次性刺杀。发动技能或刺杀失败不影响出师表。若未发动主动技能或刺杀，则出师表可以再次使用。</p>
		<p>七星续命：[指认型被动技能][无属性技能]：指定1个ID，对方需进行占卜判定：2/7的概率抵御一次刺杀，2/7的概率抵御一次军师负面技能，2/7的概率当夜指定自己的所有指认无效，魏延出场后，1/7的概率技能不可再用。</p>
		<p>巧借荆州：[指认型被动技能][全局技能]：指定1个ID（不可重复指认），刘备/刘禅状态正常且对方是周瑜/鲁肃时触发：次夜使其受伤，吴国全体混乱，指认、技能、刺杀成功率减半。</p>
		<p>评价：智者、仁者、能吏、文豪</p>
		<h3>张飞-马超</h3>
		<p><strong>张飞</strong></p>
		<p>杀手。</p>
		<p>评价指认：1个ID指认猛将。</p>
		<p>探阵斩将：[主动技能][武将杀伤性技能][继承给马超]：刺杀时额外指定1个ID。</p>
		<p>临桥虎吼：[主动技能][军师增益技能]：当夜非本国人指定蜀国人的所有指认无效。</p>
		<p>评价：猛将、义士</p>
		<p><strong>马超</strong></p>
		<p>杀手，张飞的继承者。</p>
		<p>结识指认：1个ID指认赵云、刘禅。</p>
		<p>评价指认：1个ID指认猛将。</p>
		<p>复仇之焰：[指认型被动技能][指认技能]：指定1个ID，对方是曹操时触发：使其离开游戏。</p>
		<p>威震西凉：[主动技能][军师增益技能]：当夜非本国杀手指定蜀国人的所有行动（包括指认、技能、刺杀）无效。</p>
		<p>评价：猛将、统帅</p>
		<h3>赵云-魏延</h3>
		<p><strong>赵云</strong></p>
		<p>护卫。刘禅出场即知道刘禅。</p>
		<p>结识指认：2个ID指认张飞/马超、徐庶/马良。</p>
		<p>评价指认：1个ID指认义士。</p>
		<p>单枪救主：[被动技能][武将保护技能]：本国君主受到武将杀伤技能时触发：使其无效。</p>
		<p>浑身是胆：[主动技能][武将保护技能][继承给魏延]。指定1个ID，若对方受到非刺杀的致伤技能作用，则使其无效；若对方受到刺杀作用，则技能发动者进行一次突围判定：1/2的概率使其无效。</p>
		<p>绝处逢生：[被动技能][武将保护技能][不限次数]：受伤时可用，受到刺杀或致伤技能作用时触发：痊愈。</p>
		<p>评价：猛将、义士、仁者</p>
		<p><strong>魏延</strong></p>
		<p>护卫。赵云的继承者。</p>
		<p>结识指认：1个ID指认马良/诸葛亮。</p>
		<p>踏营陷阵：[主动技能][武将杀伤技能]：指定1个ID，若对方是杀手或护卫，则使其受伤。</p>
		<p>火烧上方谷：[主动技能][全局技能]：诸葛亮出场后可用，当夜魏国军师行动无效，魏国杀手刺杀成功率减半。（公告时为诸葛亮火烧上方谷）</p>
		<p>评价：猛将、统帅</p>

		<h3>孙坚-孙策-孙权</h3>
		<p><strong>孙坚</strong></p>
		<p>君主。第二夜结算时自然死亡。</p>
		<p>结识指认：2个ID指认周瑜，1个ID指认黄盖。</p>
		<p>传国玉玺：[主动技能][指认技能][继承给孙策、孙权]：指定1个ID，若对方是吴国人，则对方知道自己。若对方是他国君主，则此技能转移给对方。孙坚死时此技能未使用将传给孙策，孙策死后或孙坚/孙策使用后自动转给魏国君主，魏国君主也只能使用一次。</p>
		<p>兵圣后裔：[被动技能][军师增益技能][继承给孙策、孙权]：受到负面军师技能作用时触发：使其无效。</p>
		<p>横扫江东：[主动技能][武将伤害技能][继承给孙策]：指定1个ID，使其受伤。</p>
		<p>评价：统帅、猛将</p>
		<p><strong>孙策</strong></p>
		<p>君主。孙坚的继承者。出场即知道周瑜。</p>
		<p>结识指认：2个ID指认黄盖/周泰。若周瑜已经离开游戏，1个ID指认鲁肃。</p>
		<p>霸王再世：[被动技能][武将保护技能]：受到武将杀伤技能作用时触发：进行一次突围判定：1/2的概率使其无效，1/2的概率与对方同时受伤。</p>
		<p>结纳豪俊：[主动技能][投票技能][继承给孙权]：某夜确定次日投票时孙策多投一张暗票，不显示在投票统计中。</p>
		<p>评价：猛将、统帅、义士</p>
		<p><strong>孙权</strong></p>
		<p>君主，孙策的继任者。</p>
		<p>结识指认：1个ID指认黄盖/周泰。</p>
		<p>评价指认：1个ID指认能吏。</p>
		<p>父兄之佑：[被动技能][投票技能]：每次投票时自己所得票数-3。</p>
		<p>火烧连营：[指认型被动技能][全局技能]：指定1个ID，对方是曹操/曹丕时触发：若张飞死亡则下夜可发动，蜀国全体混乱，指认、特技、刺杀成功率减半；同时若刘备存在则刘备受伤。</p>
		<p>评价：能吏、仁者</p>
		<h3>周瑜-鲁肃</h3>
		<p><strong>周瑜</strong></p>
		<p>军师。第四夜结算时自然死亡，死后所有指认信息转告君主。</p>
		<p>结识指认：2个ID指认甘宁/凌统。</p>
		<p>评价指认：1个ID指认全评价。</p>
		<p>琴书雅韵：[被动技能][军师增益技能]：受到军师负面技能作用时触发：使其无效。</p>
		<p>诱以美色：[主动技能][军师负面技能][继承给鲁肃]：指定1个ID，使其当夜除刺杀外的所有行动发动失败。</p>
		<p>巧设反间：[主动技能][无属性技能]：指定1个角色名，在当夜行动截止时得知其当晚的行动动向。此时反间发动国额外延长15分钟时间可以更改行动。（法官会反馈：某角色对某ID使用了什么技能、某角色刺杀某ID、某角色指认某ID为XXX等。如果徐庶转世，仍可以反馈徐庶对某人用了八卦阵）</p>
		<p>火烧赤壁：[指认型被动技能][全局]：指定1个ID（不可重复指认），对方是刘备时触发：下一夜开始时，若周瑜已经和黄盖互相认识则可发动，若郭嘉已死亡则魏国除君主随机受伤一人，当夜魏国全体混乱，指认、特技、刺杀成功率减半。周瑜当夜死亡不影响次夜赤壁触发。</p>
		<p>评价：智者、统帅、雅士、义士</p>
		<p><strong>鲁肃</strong></p>
		<p>军师，周瑜的继承者。出场即知道孙策/孙权。</p>
		<p>结识指认：2个ID指认甘宁/凌统。</p>
		<p>评价指认：1个ID指认智者。</p>
		<p>鼓舞士气：[主动技能][军师增益技能]：指定1个ID，使该ID当夜抵御一次军师负面技能影响，或抵御一次受伤。</p>
		<p>秣马厉兵：[主动技能][军师增益技能]：指定1个ID，令该ID次夜可以行动两次。该技能无法与老当益壮、探阵斩将叠加。</p>
		<p>评价：智者、仁者、能吏</p>
		<h3>甘宁-凌统</h3>
		<p><strong>甘宁</strong></p>
		<p>杀手。</p>
		<p>结识指认：1个ID指认周瑜/鲁肃。</p>
		<p>百骑劫营：[主动技能][武将保护技能]：使用当夜，若认识的吴国角色遭到武将杀伤技能作用，可以抵御一次伤害最大的攻击。（包括自己可使用）可以被继承。（多名自己知道的吴国角色受到同等程度伤害时，随机保护一个）</p>
		<p>义释苏飞：[被动技能][武将保护技能][继承给凌统]：若甘宁动手刺杀到同国角色，则刺杀无效。</p>
		<p>评价：猛将</p>
		<p><strong>凌统</strong></p>
		<p>杀手，孙权出场时知道孙权。若鲁肃已经离开游戏，与本国君主互识。</p>
		<p>结识指认：1个ID指认周瑜/鲁肃。</p>
		<p>评价指认：1个ID指认猛将。</p>
		<p>断后突围：[主动技能][武将保护技能]：当夜对孙权使用的伤害最高的武将杀伤技能无效。</p>
		<p>国士之风：[被动技能][投票技能]：若凌统当夜退出游戏，而吴国存活游戏中的人数非三国最多的时候，次日投票所有对吴国角色的投票无效。</p>
		<p>评价：猛将、仁者</p>
		<h3>黄盖-周泰</h3>
		<p><strong>黄盖</strong></p>
		<p>护卫。</p>
		<p>结识指认：3个ID指认周瑜，指认出之后与其互识。1个ID指认孙坚/孙策。</p>
		<p>义奉三朝：[主动技能][武将保护技能]：当夜孙坚/孙策/孙权被武将杀伤技能作用，可以抵御伤害最高的一次。</p>
		<p>苦肉诈降：[主动技能][军师增益技能]：周瑜在场且与周瑜互识后可用，指定1个本国ID，可以更改当夜该ID的国籍，修改的国籍，仅对指认和使用主动、被动技能有效果。而在结算灭国人数、进行非附带技能效果的刺杀、判定是否有君主、军师存在时，仍按照原国籍结算</p>
		<p>火船冲阵：[主动技能][军师负面技能][继承给周泰]：指定1个ID，使其受伤。</p>
		<p>评价：猛将、能吏</p>
		<p><strong>周泰</strong></p>
		<p>护卫，黄盖的继承者。孙权出场时知道孙权。</p>
		<p>舍身护主：[可选型被动技能][武将保护技能]：孙权受到武将杀伤技能作用时触发：可以选择发动：孙权不受作用，自己受伤。</p>
		<p>九死一生：[被动技能][武将保护技能][不限次数]：受伤后第二天必定痊愈。</p>
		<p>浪里擒将：[主动技能][军师负面技能]：指定1个ID，使其当夜所有行动无效。</p>
		<p>评价：猛将、义士</p>

            </div><!-- row -->
        </div><!-- .col -->
        <div id="sidebar" class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
            <div class="list-group">
                <a class="list-group-item" href="{{ url_for('index') }}">游戏介绍</a>
                <a class="list-group-item" href="{{ url_for('rule') }}">当前规则</a>
                <a class="list-group-item" href="{{ url_for('event') }}">精彩活动</a>
            </div>
        </div><!-- #sidebar -->
    </div><!-- .row-offcanvas -->
</div><!-- .container -->

{% endblock %}
