{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<div class="container">
<ol class="breadcrumb">
  <li><a href="{{ url_for('forum') }}">论坛</a></li>
  <li><a href="{{ url_for('show_board', board_id=0) }}">公共区</a></li>
  <li class="active">话题</li>
</ol>
<a href="{{ url_for('reply', topic_id=topic.id) }}">回复</a>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ topic.title }}</h3>
  </div>
  <div class="panel-body">
    {{ topic.content }}
  </div>
    <div class="panel-footer">{{ topic.category }} - {{ topic.author.nickname }} - {{ topic.post_time }}</div>

</div>

{% for reply in replys %}
<div class="panel panel-default">
  <div class="panel-body">
    {{ reply.content }}
  </div></a>
  <div class="panel-footer">{{ reply.author.nickname }} - {{ reply.post_time }}</div>
</div>
{% endfor %}
</div>




{% endblock %}
